*{
    box-sizing: border-box;
    font-family: Mona Sans;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
span a{
    color: #0367F2;
}
button{
    background-color: #0367F2;
    border-radius: 10px;
    border: 15px solid #0367F2;
    width: 500px;
}
/* .grid-container{
    display: grid;
    grid-template-rows: 1fr ;
    row-gap: 20px;
}
.item{
    width: 50%;
    position: absolute;
    left:650px;
}
.first-item{
    width: 500px;
    height: 500px;
} */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 200px) ;
    grid-template-rows: repeat(6, 80px) ;
    column-gap: 50px;
    row-gap: 10px;
}
.grid-item6{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid ;
}
.item{
    width: 50%;
    position: absolute;
    left:670px;
}
img{
    width: 100%;
    height: 500px;

}
p{
    text-wrap: wrap;
}
@media(max-width:768px){
    img{
        display: none;
    }
    .item{
        display: grid;
        position: absolute;
        left: 8px;

    }
footer{
    position: absolute;
    top: 890px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 200px) ;
    grid-template-rows: repeat(6, 80px) ;
    column-gap: 50px;
}
.grid-item6{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid ;
}
button{
    width: 500px;
}

}